{% extends "base.html"%} {% block content %}

<div class="row">
    <form action="{{url_for('insert_review', book_title=title)}}" method="POST" class="col s12 m6">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="author" name="author" type="text" class="validate" required>
                <label for="author">Your Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">comment</i>
                <textarea id="review" name="review" type="text" class="materialize-textarea" required></textarea>
                <label for="review">Review</label>
            </div>
        </div>
        <button class="btn" type="submit">Add Review</button>
    </form>
</div>

{% endblock %}